body{
	background-color: #66a3ff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*
.fixed{
	position:fixed;
	width:100%;
}
*/
.hover{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
}

   
li:hover {
    background-color: #111;
	color:white;
	
}
.dropdown-pers {
    float:right;
    display:block;
	
	
}

.dropdown-content-pers {
    display: block;
    position:absolute;
	right: auto;
	left:1518px;
}

.dropdown-pers:hover .dropdown-content-pers{
    display: block;
}




.jumbotron-curves-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  border-radius: 0px 0px 15px 15px;
}

.jumbotron{
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}

.jumbotron-curves-all{
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  border-radius: 15px 15px 15px 15px;
}
.jumbotron-curves-top{
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  border-radius: 15px 15px 0px 0px;
}

.jumbotron-curves-right{
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  border-radius: 0px 15px 15px 0px;
}

.jumbotron-curves-left{
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  border-radius: 15px 0px 0px 15px;
}

.half{
	height: 200px;
    width: 50%;
   
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color:  ;
 
}

.contain-left{
	position:;
	float:left; 
	width: 45%;
	display:inline-block;
}

.contain-right{
	position:;
	float:right; 
	width: 45%;
	display:inline-block;
	
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content:">>";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -60px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 45px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.footer {
	background-color:#333;
	color:white;
	display: block;
	margin: 0 ;
	padding: 0;
	overflow: auto;
	clear:both;
	position:static;
}

.row{
	margin-left:10px;
}

#features{
	margin-left:10px;
}
